# Split Test, Loop by userIdx

In [1]:
import pandas as pd
import os

In [2]:
data_path = 'mathorcup_recom_listwise/data/'

In [3]:
train_df = pd.read_csv(data_path + 'train_data.csv', dtype=str, nrows=100)
train_df

,userID,requestID,date,time,sequence
0,1000014754,500007377_1635422685108_3822,20211028,20,133669542676:1:148;133658378700:1:16;133650937...
1,1000019906,500009953_1635375063077_3893,20211028,06,133679233276:0:0;133658338671:0:0;133677846615...
2,1000019906,500009953_1635430638501_3959,20211028,22,508420199:0:0;133669581685:1:19;508486431:1:23...
3,1000019906,500009953_1635431257521_6241,20211028,22,133686693807:0:0;508214895:0:0;133685336335:0:...
4,1000024368,500012184_1634998901528_248,20211023,22,133665269544:0:0;133676553526:0:0;507174630:0:...
...,...,...,...,...,...
95,1000224570,500112285_1635204817673_7504,20211026,07,507644206:0:0;133673145823:1:23;507468255:0:0;...
96,1000224570,500112285_1635305182591_3881,20211027,11,508073886:0:0;133650810881:1:125;508210021:0:0...
97,1000224570,500112285_1635306617038_5504,20211027,11,508101850:1:163;133671134909:1:41;507788117:1:...
98,1000224570,500112285_1635306949163_8770,20211027,11,507675410:1:66;133659118026:0:0;508407732:0:0;...
99,1000224570,500112285_1635307491307_5479,20211027,12,507979957:0:0;133677495056:0:0;508110143:1:113...

In [4]:
train_userID = set(train_df.loc[:, 'userID'])
train_userID

{'1000014754',
 '1000019906',
 '1000024368',
 '1000026896',
 '1000099826',
 '1000135542',
 '1000139640',
 '1000158866',
 '1000160436',
 '1000224570'}

In [6]:
userID2idx = {_: str(i).zfill(7) for i, _ in enumerate(train_userID)}
userID2idx

{'1000158866': '0000000',
 '1000026896': '0000001',
 '1000135542': '0000002',
 '1000139640': '0000003',
 '1000014754': '0000004',
 '1000160436': '0000005',
 '1000224570': '0000006',
 '1000099826': '0000007',
 '1000019906': '0000008',
 '1000024368': '0000009'}

In [9]:
train_df.loc[train_df.userID =='1000019906']

,userID,requestID,date,time,sequence
1,1000019906,500009953_1635375063077_3893,20211028,06,133679233276:0:0;133658338671:0:0;133677846615...
2,1000019906,500009953_1635430638501_3959,20211028,22,508420199:0:0;133669581685:1:19;508486431:1:23...
3,1000019906,500009953_1635431257521_6241,20211028,22,133686693807:0:0;508214895:0:0;133685336335:0:...

In [16]:
for userID, idx in userID2idx.items():
    aaa, bb, cc = idx[0:3], idx[3:5], idx[5:7]
    path = 'data_splitted_by_user_id/{}/{}/'.format(aaa, bb)
    os.makedirs(path, exist_ok=True)
    train_df.loc[train_df.userID ==userID].to_csv(path + cc + '.csv')

# Split All, Loop by userIdx

In [18]:
import tqdm

In [17]:
train_df = pd.read_csv(data_path + 'train_data.csv', dtype=str)
train_df

,userID,requestID,date,time,sequence
0,1000014754,500007377_1635422685108_3822,20211028,20,133669542676:1:148;133658378700:1:16;133650937...
1,1000019906,500009953_1635375063077_3893,20211028,06,133679233276:0:0;133658338671:0:0;133677846615...
2,1000019906,500009953_1635430638501_3959,20211028,22,508420199:0:0;133669581685:1:19;508486431:1:23...
3,1000019906,500009953_1635431257521_6241,20211028,22,133686693807:0:0;508214895:0:0;133685336335:0:...
4,1000024368,500012184_1634998901528_248,20211023,22,133665269544:0:0;133676553526:0:0;507174630:0:...
...,...,...,...,...,...
31298935,999971832,499985916_1635167173635_2208,20211025,21,133680478319:0:0;507555242:0:0;507263285:0:0;1...
31298936,999971832,499985916_1635167307558_3991,20211025,21,133680491898:0:0;507551799:0:0;507462062:0:0;1...
31298937,999971832,499985916_1635167608753_1058,20211025,21,133680391836:0:0;507360402:0:0;507163538:0:0;1...
31298938,999971832,499985916_1635336680046_4362,20211027,20,133680418438:0:0;507155934:0:0;507416869:0:0;1...
31298939,999997340,499998670_1635287070929_3527,20211027,06,133686345060:0:0;508501092:1:221;508501092:0:0...

In [19]:
train_userID = set(train_df.loc[:, 'userID'])
userID2idx = {_: str(i).zfill(7) for i, _ in enumerate(train_userID)}

In [20]:
# # 300h execute time, too slow!!
# for userID, idx in tqdm.tqdm(userID2idx.items()):
#     aaa, bb, cc = idx[0:3], idx[3:5], idx[5:7]
#     path = 'data_splitted_by_user_id/{}/{}/'.format(aaa, bb)
#     os.makedirs(path, exist_ok=True)
#     train_df.loc[train_df.userID ==userID].to_csv(path + cc + '.csv')

  0%|          | 36/958123 [00:42<310:54:40,  1.17s/it]

KeyboardInterrupt:

# Split Test, Loop by `train_df`

[append new row to old csv file python](https://stackoverflow.com/a/64337067/12224183)

In [108]:
train_df.loc[0:0].to_csv('test.csv')

In [109]:
train_df.loc[1:1].to_csv('test.csv', mode='a', index=True, header=False)

In [126]:
train_df = pd.read_csv(data_path + 'train_data.csv', dtype=str, nrows=100)
train_df

,userID,requestID,date,time,sequence
0,1000014754,500007377_1635422685108_3822,20211028,20,133669542676:1:148;133658378700:1:16;133650937...
1,1000019906,500009953_1635375063077_3893,20211028,06,133679233276:0:0;133658338671:0:0;133677846615...
2,1000019906,500009953_1635430638501_3959,20211028,22,508420199:0:0;133669581685:1:19;508486431:1:23...
3,1000019906,500009953_1635431257521_6241,20211028,22,133686693807:0:0;508214895:0:0;133685336335:0:...
4,1000024368,500012184_1634998901528_248,20211023,22,133665269544:0:0;133676553526:0:0;507174630:0:...
...,...,...,...,...,...
95,1000224570,500112285_1635204817673_7504,20211026,07,507644206:0:0;133673145823:1:23;507468255:0:0;...
96,1000224570,500112285_1635305182591_3881,20211027,11,508073886:0:0;133650810881:1:125;508210021:0:0...
97,1000224570,500112285_1635306617038_5504,20211027,11,508101850:1:163;133671134909:1:41;507788117:1:...
98,1000224570,500112285_1635306949163_8770,20211027,11,507675410:1:66;133659118026:0:0;508407732:0:0;...
99,1000224570,500112285_1635307491307_5479,20211027,12,507979957:0:0;133677495056:0:0;508110143:1:113...

In [127]:
train_userID = set(train_df.loc[:, 'userID'])
userID2idx = {_: str(i).zfill(7) for i, _ in enumerate(train_userID)}

In [128]:
for i in range(len(train_df)):
    idx = userID2idx[train_df.userID[i]]
    aaa, bb, cc = idx[0:3], idx[3:5], idx[5:7]
    path = 'data_splitted_by_user_id/{}/{}/{}.csv'.format(aaa, bb, cc)
    if os.path.exists(path):
        train_df.loc[i:i].to_csv(path, mode='a', index=True, header=False)
    else:
        os.makedirs('data_splitted_by_user_id/{}/{}'.format(aaa, bb), exist_ok=True)
        train_df.loc[i:i].to_csv(path)

# Split All, Loop by `train_df`

In [3]:
import tqdm
import pickle

In [4]:
train_df = pd.read_csv(data_path + 'train_data.csv', dtype=str)
train_df

,userID,requestID,date,time,sequence
0,1000014754,500007377_1635422685108_3822,20211028,20,133669542676:1:148;133658378700:1:16;133650937...
1,1000019906,500009953_1635375063077_3893,20211028,06,133679233276:0:0;133658338671:0:0;133677846615...
2,1000019906,500009953_1635430638501_3959,20211028,22,508420199:0:0;133669581685:1:19;508486431:1:23...
3,1000019906,500009953_1635431257521_6241,20211028,22,133686693807:0:0;508214895:0:0;133685336335:0:...
4,1000024368,500012184_1634998901528_248,20211023,22,133665269544:0:0;133676553526:0:0;507174630:0:...
...,...,...,...,...,...
31298935,999971832,499985916_1635167173635_2208,20211025,21,133680478319:0:0;507555242:0:0;507263285:0:0;1...
31298936,999971832,499985916_1635167307558_3991,20211025,21,133680491898:0:0;507551799:0:0;507462062:0:0;1...
31298937,999971832,499985916_1635167608753_1058,20211025,21,133680391836:0:0;507360402:0:0;507163538:0:0;1...
31298938,999971832,499985916_1635336680046_4362,20211027,20,133680418438:0:0;507155934:0:0;507416869:0:0;1...
31298939,999997340,499998670_1635287070929_3527,20211027,06,133686345060:0:0;508501092:1:221;508501092:0:0...

In [5]:
if not os.path.exists(data_path + 'userID2idx.pickle'):
    train_df = pd.read_csv(data_path + 'train_data.csv', dtype=str)
    train_userID = set(train_df.loc[:, 'userID'])
    userID2idx = {_: str(i).zfill(7) for i, _ in enumerate(train_userID)}
    with open(data_path + 'userID2idx.pickle', 'wb') as handle:
        pickle.dump(userID2idx, handle, protocol=pickle.HIGHEST_PROTOCOL)
with open(data_path + 'userID2idx.pickle', 'rb') as handle:
    userID2idx = pickle.load(handle)

In [7]:
# 6h-16h execute time 
for i in tqdm.tqdm(range(len(train_df))):
    idx = userID2idx[train_df.userID[i]]
    aaa, bb, cc = idx[0:3], idx[3:5], idx[5:7]
    path = 'data_splitted_by_user_id/{}/{}/{}.csv'.format(aaa, bb, cc)
    if os.path.exists(path):
        train_df.loc[i:i].to_csv(path, mode='a', index=True, header=False)
    else:
        os.makedirs('data_splitted_by_user_id/{}/{}'.format(aaa, bb), exist_ok=True)
        train_df.loc[i:i].to_csv(path)

100%|██████████| 31298940/31298940 [7:04:11<00:00, 1229.74it/s]